@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);

body 
{
  margin:0; 
  padding:0;
  width: 100%; 
  height:auto;
  background-color: rgb(169,179,171);
}
html 
{
  padding:0; 
  margin:0; 
  height: 100%
}
a 
{
  text-decoration:none;
}
a:hover
{
  text-decoration:underline;
} 

/*popup*/
.main-container
{
  width: 100%;
  overflow:hidden; /*check on responsive*/
/*  background-color: #a9b3ab;*/

}
.popup-heading
{
  color: #ffffff;
  background-color: #606a61;
  border-color: #222;
  padding: 5px 20px;
  width: 100%;
  margin: 0 auto;
}
.popup-heading h1
{
  font: 2em 'Montserrat Alternates';
  margin: 0;
}

.popup-body
{
  width:100%;
  /*margin: 0 auto;*/
}
.popup-body-box
{
  padding: 5px 20px;
  width: 49%;
  display: inline-block;
  box-sizing: border-box;
}
.popup-body-box span
{
  font: 1.4em 'Montserrat Alternates';
  color: #006dd8;
}
.popup-body-box p
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
}

.popup-body-box2
{
  padding: 0;
  width: 48%;
  display: inline-block;
  text-align: center;
}
.popup-body-box2 img
{
 max-width: 100%;
 padding: 0;
}

@media (max-width: 600px) 
{
  .popup-body-box
  {  
    width: 100%;
    display: block;
  }

  .popup-body-box2
  {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
}