@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);

body {margin:0; padding:0 ;width: 100%; height: 100% }
html {padding:0; margin:0; height: 100%}
a {text-decoration:none;}
a:hover{text-decoration:underline;} 

.main
{
  width: 100%;
  height: 100%;
  background-image: url("images/Freight-Truck-Trailer.jpg");
  background-size: cover;
  background-repeat:no-repeat;
 }

/*header*/
.block_header {margin:0 auto; padding:0;}
.header {margin:0; padding:0; width:960px;}
/*Logo*/
.logo {padding:0;  margin:30px 0 0 50px; width:180px; float: left;}


/*search bar*/
.field {
  padding: 0;
  display:flex;
  margin: 50px 0 0 0;
  width:600px;
  float:left;
  flex-direction:row;
  box-shadow:
   1px 1px 0 rgb(22, 160, 133),
   2px 2px 0 rgb(22, 160, 133),
   3px 3px 0 rgb(22, 160, 133),
   4px 4px 0 rgb(22, 160, 133),
   5px 5px 0 rgb(22, 160, 133),
   6px 6px 0 rgb(22, 160, 133),
   7px 7px 0 rgb(22, 160, 133)
  ;
}

.field>input[type=text],.field>button {
  display:block;
  font:1.2em 'Montserrat Alternates';
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid rgb(26, 188, 156);
}

.field>button {
  padding:0.6em 0.8em;
  background-color:rgb(26, 188, 156);
  color:white;
  border:none;
}

.field>#search:hover{opacity: 0.7;}

/*search bar ui-widget*/
#field {
  padding: 0;
  display:flex;
  margin: 30px 0 0 0;
  width:600px;
  float:left;
  flex-direction:row;
  box-shadow:
   1px 1px 0 rgb(22, 160, 133),
   2px 2px 0 rgb(22, 160, 133),
   3px 3px 0 rgb(22, 160, 133),
   4px 4px 0 rgb(22, 160, 133),
   5px 5px 0 rgb(22, 160, 133),
   6px 6px 0 rgb(22, 160, 133),
   7px 7px 0 rgb(22, 160, 133)
  ;
}

#field>input[type=text],#field>button {
  display:block;
  font:1.2em 'Montserrat Alternates';
}

#field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid rgb(26, 188, 156);
}

#field>button {
  padding:0.6em 0.8em;
  background-color:rgb(26, 188, 156);
  color:white;
  border:none;
  font:1.2em 'Montserrat Alternates';
}

#field>#search:hover{opacity: 0.7;}

 ul.ui-autocomplete 
 {
        
 font:1em 'Montserrat Alternates';      

 }

/*input placeholder*/

input::-webkit-input-placeholder { /* WebKit */
  font-size: 0.75em; 

}
input:-moz-placeholder { font-size: 0.7em;  } /* Firefox 18- */
input::-moz-placeholder { font-size: 0.7em; } /* Firefox 19+ */
input::-ms-placeholder { font-size: 0.7em;  } /* IE 10+ */

/*FBG*/
.FBG { margin:0 auto; padding:0;}
.FBG_resize{margin:0 ; padding: 0; width:960px;}
.FBG_resize h1{font: 18px  'Montserrat Alternates'; color: #FFF;}
.left{margin:10px 0 0 230px; padding:0; text-align:left; float:left;width:730px;}

.error
{
margin:0 auto; 
padding:0;
display: none;

}


.error h2
{
/*background: none repeat scroll 0 0 #BC1010; */
font: 18px  'Montserrat Alternates'; 
color: #FFF;
background: rgb(26, 188, 156);
border-radius: 5px; 
color: white; 
padding: 10px 20px; 
text-align: center;
display: block;
width: 565px;
float: left;
margin:10px 0 0 231px;
/*-webkit-transition: opacity 1.5s linear;*/ 
/*-webkit-transition: opacity 10s ease;*/

/*width 1s ease, box-shadow 1s linear;*/

}


/*menu*/
.menu{padding:0; margin:0 0 0 210px;  float:left; width: 730px;}
.menu ul{ text-align:left; padding:0; margin:0; list-style:none;border:0 ; float:left;}
.menu ul li{float:left; margin: 0; padding:0; border:0;}
.menu img
{ 
  padding:5px 10px;
  -webkit-transition: -webkit-transform 0.4s linear;
}
.menu img:hover
{
  transform: scale(1.2, 1.5)
}

/*FBG POR EMPRESAS EMPRESAS*/
.FBG_resize2{margin:0 ; padding: 0; width:960px;}
.FBG_resize2 h1{font: 22px  'Montserrat Alternates'; color: #FFF;}
.leftt{margin:25px 0 0 230px; padding:0; text-align:left; width:300px; float:left;}
.logo2 {padding:0;  margin:30px 0 0 0; width:350px; float: left;}



/*footer*/
.footer{margin:0; padding:0;}
.footer_resize{margin:0 0 0 150px ; padding: 10px 0 10px 0;width:960px; bottom:0; position:fixed;}
.footer p{font: 11px 'Montserrat Alternates'; color:#FFF; }
.footer a{font: 11px 'Montserrat Alternates'; color:#FFF; text-decoration:none;line-height:2em;}
.footer p.leftt{ text-align:left;float:left;  padding: 0; margin:18px 0 0 50px; width:530px;}
.footer p.rightt{ text-align:right;float: right;padding: 0; margin:18px 0 0 0; width:290px;}
.footer a:hover{text-decoration:underline;}
.footer span{font: 13px 'Montserrat Alternates'; color:#FFF; text-decoration:none;line-height:2em;}
/*results table*/
 table
 {
    border-collapse: collapse;
    background-color: #fff;
  }

th, td {
    
    text-align: justify;
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even)
{
  background-color: #f2f2f2;
}


tr:hover {
  background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(26, 188, 156);
    color: white;
    font: 1em 'Montserrat Alternates';
}    

td
{
font-family: Verdana, Geneva, sans-serif; 
font-size: 0.8em;
}

.tabla
{
width:960px;  
overflow-x:auto;
margin: 0 auto;

}

.tabla p
{
font: 0.7em 'Montserrat Alternates';
margin:3px 3px;
padding:0;
}

.tabla a
{
font: 0.9em 'Montserrat Alternates';
margin:5px 5px;
padding:0;
text-decoration: none;  
color: #000;

}


.tabla td>a
{
color: blue;
font: 0.9em 'Montserrat Alternates';

}

.tabla a:hover
{
text-decoration:underline;
} 

.pagination
{
width:960px;  
text-align: center;
margin: 0 auto;

}

.pager a
{
  font: 0.9em 'Montserrat Alternates';
margin:5px 5px;
padding:0;
text-decoration: none;  
color: #000;
}
.pagination a
{
font: 0.9em 'Montserrat Alternates';
margin:5px 5px;
padding:0;
text-decoration: none;  
color: #000;
}

.pagination p
{
font: 0.7em 'Montserrat Alternates';
margin:3px 3px;
padding:0;
text-align: justify;
}

.pagination span
{
font: 0.9em 'Montserrat Alternates';
margin:3px 3px;
padding:0;
text-decoration: underline;  
color: blue;
}

.pagination a:hover
{
text-decoration:underline;
} 

.centered
{
  text-align: center;
}

/*popup*/

.popup-heading
{
    color: #ffffff;
    background-color: #606a61;
    border-color: #222;
    padding: 5px 20px;
}

.popup-heading h1
{
  font: 2em 'Montserrat Alternates';
  margin: 0;
  
}



.popup-body-box
{
  padding: 5px 15px ;
  width: 45%;
  display: inline-block;
  margin: 5px 5px;
}

.popup-body-box span
{
  font: 1.4em 'Montserrat Alternates';
  color: #006dd8;
}

.popup-body-box p
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
}

.popup-body-box img
{
 margin: 15px 45px;
}



/*clear*/
.clr{clear:both; padding:0; margin:0; width:960px;}